@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;

    /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,*/
    /*Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        color: white;
        background: linear-gradient(
                45deg,
                rgba(5, 175, 240, 0.14),
                rgba(239, 77, 54, 0.14),
                rgba(243, 200, 57, 0.14)
        ) fixed;
    }
}

@media (prefers-color-scheme: light) {
    html {
        color-scheme: light;
    }

    body {
        color: black;
        background: linear-gradient(
                45deg,
                rgba(5, 175, 240, 0.14),
                rgba(239, 77, 54, 0.14),
                rgba(243, 200, 57, 0.14)
        ) fixed;
    }
}
