$blue-base: #05AFF0;
$red-base: #EF4D36;
$yellow-base: #F3C839;

@font-face {
  font-family: "friends-font";
  src: URL("/friends-font.TTF") format("truetype");
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header {
  text-align: center;
  animation: fadeInUp .5s ease-in-out;

  h4 {
    font-style: italic;
  }

  h5 {
    opacity: 0.8;
  }

  h2 {
    text-transform: uppercase;
    font-family: "friends-font", sans-serif;
    text-align: center;

    span {
      font-size: 3rem;
      margin: 6px;
      vertical-align: middle;
    }

    .blue {
      color: $blue-base;
    }

    .red {
      color: $red-base;
    }

    .yellow {
      color: $yellow-base;
    }
  }

}

.sentence {
  color: #ececec;
  text-align: center;
  margin-bottom: 3em;
  min-height: 220px;

  @media (prefers-color-scheme: light) {
    color: #1f1f1f;
  }

  animation: fadeIn .5s ease-in-out;

  &::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background-color: #8c8c8c;
    transition: width 0.3s ease-in-out;
    margin: 1em auto auto;
  }

  &:hover {
    &::after {
      width: 80%;
      transition: width 0.3s ease-in-out;
    }
  }

  .sentenceDetails {
    color: #bdbdbd;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.5em;

    @media (prefers-color-scheme: light) {
      color: #414141;
    }

  }

  .sentenceActions {
    button {
      background: none;
      border: none;
      color: #bdbdbd;
      font-size: 1.2em;
      margin: 0 0.5em;
      cursor: pointer;
      outline: none;
      border-radius: 10px;
      padding: 0.5em 1em 0.25em;
      transition: all .3s ease-in-out;
    }

    button:last-child, button:first-child {
      color: $blue-base;

      &:hover {
        box-shadow: $blue-base 0 0 0.5em;
      }
    }

    .likeButton[aria-disabled="true"] {
      color: $red-base;
    }

    .likeButton[aria-disabled="false"] {
      @media (prefers-color-scheme: light) {
        color: #414141;
      }

      &:hover {
        box-shadow: $red-base 0 0 0.5em;
      }
    }

    .shareButton {
      color: $yellow-base;

      &:hover {
        box-shadow: $yellow-base 0 0 0.5em;
      }
    }

    //button:hover {
    //  box-shadow: gray 0 0 0.5em;
    //}
  }
}

.home {
  min-height: calc(100vh - (2em * 2));
  //background: linear-gradient(45deg, rgba(5, 175, 240, 0.16), rgba(239, 77, 54, 0.15), rgba(243, 200, 57, 0.15)) fixed;
  position: relative;
  top: 0;
  margin: 2em;

  @media screen {
    @media (max-width: 768px) {
      margin: 1em;
    }
  }
  background: rgba(0, 0, 0, 0.17);
  border-radius: 1.25rem;
}

.results {
  list-style: none;
  margin: 0;
  transform-style: preserve-3d;

  padding: 0 0 110px;
}

.searchForm {
  width: 60%;
  max-width: 600px;
  margin: 2em auto;

  animation: fadeIn .5s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;

    position: absolute;
    right: 5px;

    svg {
      transition: all .3s;
    }
  }

  input {
    background: wheat;
    width: 100%;
    padding: 0.5em 35px 0.5em 0.5em;
    border: 2px solid $blue-base;
    outline: none;
    text-align: center;
    transition: all .3s;
    //background: transparent;
    border-radius: 1.25rem;
    font-weight: bold;

    &:focus {
      border: 2px solid $red-base;
    }
  }
}

.noResults {
  text-align: center;
  color: $red-base;
  font-size: 1.2em;
  margin: 6em 0;
  line-height: 2.4;
}


.sentenceSkeleton {
  $color1: rgba(236, 236, 236, 0.2);
  $color2: rgba(236, 236, 236, 0.4);

  @media (prefers-color-scheme: light) {
    $color1: rgba(31, 31, 31, 0.07);
    $color2: rgba(31, 31, 31, 0.15);
  }

  min-height: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 60%;
    height: 1px;
    background: linear-gradient(to right, $color1 0%, $color2 50%, $color1 100%);
    background-size: 200% 100%;
    animation: skeletonAnim 1.5s infinite linear forwards alternate;
    margin: 1em auto auto;
  }

  p {
    width: 70%;
    height: 40px;
    background: linear-gradient(to right, $color1 0%, $color2 50%, $color1 100%);
    background-size: 200% 100%;
    animation: skeletonAnim 1.5s infinite linear forwards alternate;
  }

  .sentenceDetailsSkeleton {
    width: 60%;
    height: 30px;
    margin-top: 1em;
    display: flex;
    gap: 1em;

    span {
      width: 30%;
      height: 30px;
      background: linear-gradient(to right, $color1 0%, $color2 50%, $color1 100%);
      background-size: 200% 100%;
      animation: skeletonAnim 1.5s infinite linear forwards alternate;
    }
  }

  .sentenceActions {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 2em;

    svg {
      color: $color1;
    }
  }
}

@keyframes skeletonAnim {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

.error {
  width: 100%;
  text-align: center;
}


.pageNotFound {
  width: 80%;
  text-align: center;
  margin: 6em auto;
  background: rgba(0, 0, 0, 0.34);
  padding: 1em;
  border-radius: 1.25rem;

  h1 {
    font-size: 2em;
    color: $red-base;
  }

  h3 {
    font-size: 1.2em;
    color: $yellow-base;
  }

  a {
    color: $blue-base;
    text-decoration: underline solid;
    font-size: 1.1em;
    transition: all .3s ease-in-out;

    &:hover {
      color: $red-base;
    }
  }
}

.footer {
  width: 90%;
  text-align: center;
  margin: 2em auto;
  color: #bdbdbd;
  font-size: 0.8em;
  padding: 0 1em;

  animation: fadeInDown .5s ease-in-out;

  @media (prefers-color-scheme: dark) {
    background: linear-gradient(
                    45deg,
                    rgba(5, 175, 240, 0.14),
                    rgba(239, 77, 54, 0.14),
                    rgba(243, 200, 57, 0.14)
    ) fixed;
  }

  @media (prefers-color-scheme: light) {
    background: linear-gradient(
                    45deg,
                    rgb(225, 245, 255),
                    rgb(255, 232, 228),
                    rgb(255, 241, 214)
    ) fixed;
  }

  backdrop-filter: blur(5px);
  border-radius: 1.25rem;

  @media (prefers-color-scheme: light) {
    color: #414141;
  }

  height: 100px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0.5em;
  row-gap: 0;

  max-width: 600px;

  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;


  p:first-child {
    grid-column: 1 / 4;
  }

  p:not(:first-child) > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }

  a {
    color: inherit;

    text-decoration: none;
    transition: all .3s ease-in-out;

    &:hover {
      color: $red-base;
    }
  }
}

.mostLiked {

  margin-top: 4em;
  animation: fadeInD .7s ease-in-out;

  &:before {
    content: "";
    display: block;
    width: 30%;
    margin: auto;
    height: 1px;
    background: linear-gradient(to right,
            rgba(236, 236, 236, 0.2) 0%,
            rgba(236, 236, 236, 0.4) 50%,
            rgba(236, 236, 236, 0.2) 100%);
  }

  h4 {
    text-align: center;
    margin-bottom: 4em;
  }
}

@keyframes fadeInD {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}